@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.hover-text-muted {
    transition: all .4s;
}

.hover-text-muted:hover {
    color: rgb(113, 113, 113) !important;
}

.rounded-border {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-outline-btn:hover {
    color: #28a745 !important;
    background-color: #fff !important;
}

.text-dark-blue {
    color: #283c57 !important;
}

.text-muted a {
    color: inherit !important;
    text-decoration: none !important;
}

.logo-wrap-sm {
    width: 45px;
    height: auto;
}

.logo-wrap-lg {
    width: 75px;
    height: auto;
    margin-right: 0px;
}

.logo-white {
    fill: #eee;
}

.logo-black {
    fill: #333;
}

.nav-link:hover {
    cursor: pointer;
}

.fa-edit {
    width: 1em !important;
}

.fa-edit path {
    fill: rgb(69, 68, 68);
}

.fa-edit:hover {
    cursor: pointer;
}

.progress {
    height: 8px !important;
}

.pointer {
    cursor: pointer;
}

.height-80 {
    height: 80px;
}

.darken-hover {
    transition: all .4s;
}

.darken-hover:hover {
    color: #333 !important;
}

.u-hover {
    border-bottom: 1px solid transparent;
}

.u-hover:hover {
    border-bottom: 1px solid rgb(160, 160, 160);
    cursor: pointer;
}

.hover-darken-red {
    transition: all .4s;
}

.hover-darken-red:hover {
    color: #8D021F !important;
}

.open-sans {
    font-family: 'Open Sans' !important;
}

.fade-in {
    opacity: 0;
    animation: fadeIn .8s ease-in 0s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}