.logo-wrap-sm {
    width: 45px;
    height: auto;
}

.logo-wrap-lg {
    width: 75px;
    height: auto;
    margin-right: 0px;
}

.logo-white {
    fill: #eee;
}

.logo-black {
    fill: #333;
}

.nav-link:hover {
    cursor: pointer;
}

.fa-edit {
    width: 1em !important;
}

.fa-edit path {
    fill: rgb(69, 68, 68);
}

.fa-edit:hover {
    cursor: pointer;
}

.progress {
    height: 8px !important;
}

.pointer {
    cursor: pointer;
}