<a href='https://www.acefitness.org/certifiednewsarticle/2882/resting-metabolic-rate-best-ways-to-measure-it-and/'>
    <h4>A less accurate measure, but still has less variability.</h4>
</a>
<form method='POST' action='/rmrcalculator/Harris_Benedict'>
    <input type='text' placeholder='Gender' name='gender'>
    <input type='text' placeholder='Weight' name='weight'>
    <input type='text' placeholder='Height' name='height'>
    <input type='text' placeholder='Age' name='age'>
    <input type='submit' value='Submit'>
</form>