<div class="card">
    <a href='/rmrcalculator/weir'><p>Weir Calculation</p></a>
    <a href='/rmrcalculator/katch_mc'><p>Katch-Mc Calculation</p></a>
    <a href='/rmrcalculator/harris_benedict'><p>Harris Benedict Calculation</p></a>
    <a href='/rmrcalculator/manual'><p>Manual RMR</p></a>
</div>