<a href='http://www.vacumed.com/293.html'>
    <h4>Most accurate measure of Resting Energy Expenditure (REE)</h4>
</a>
<form method='POST' action='/rmrcalculator/Weir'>
    <input type='text' placeholder='Oxygen Uptake (V02)' name='oxy_uptake'>
    <input type='text' placeholder='C02 Output (VC02)' name='oxy_output'>
    <input type='submit' value='Submit'>
</form>