<form class='center' method='POST' action='/createprofile'>
    <fieldset>
        <legend>Create New User</legend>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" name='firstname'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name" name='lastname'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name='username'>
        </div>
        <div class="form-group">
            <input id="date" type="date" value="2017-06-01" name='birthday'>
        </div>
        <fieldset class="form-group">
            <legend>Gender</legend>
            <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="gender" id="optionsRadios1" value="male" checked="">
                    Male
                </label>
            </div>
            <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="gender" id="optionsRadios2" value="female">
                    Female
                </label>
            </div>
        </fieldset>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="RMR" name='RMR'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="HDL" name='HDL'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="LDL" name='LDL'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="TC" name='TC'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Ratio" name='ratio'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Triglycerides" name='trigs'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Blood Glucose" name='blood_glucose'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Hemoglobin" name='hemoglobin'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Body Fat Percentage" name='bfp'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Weight" name='weight'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Are you taking any medications? If so what are they?" name='medications'>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>