<div class="layout">
    <% include ./Navigation %>
    <div class="wrap">
        <button id='create-group' class="btn">Create New Group +</button>
        <div class="groups-wrap">
            <% for(let i=0;i<user.groups.length;i++) { %>
                <div class='group-card'>
                    <div class='group-card-header'>
                        <h1 class='group-name'>Group Name: <span class='highlight'><%= user.groups[i].name %></span></h1>
                        <div class='group-card-btn-wrap'>
                            <a href='#' class='btn'>View</a>
                            <a href='#' class='btn-danger'>Delete</a>
                        </div>
                    </div>
                    <% if(user.groups[i].members) { %>
                        <% for(let i=0;i<user.groups[i].members.length;i++) { %>
                            <p class='group-card-member-text'><%= user.groups[i].members[i]%></p>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</div>

<form action='/groups'
      method='POST'
      id='create-group-form'
      class='create-new-group-wrap'>
    
    <input type="text" 
           class='form-field-input' 
           placeholder='Group Name' 
           name='group_name'>
        
    <button type='submit' class='btn'>Submit</button>
    <div class='btn-danger' id='btn-danger'>Cancel</div>

</form>

<script>
    let form = document.getElementById('create-group-form'); // Entire form
    let btn = document.getElementById('create-group'); // Create Group
    let btn_danger = document.getElementById('btn-danger'); // Cancel Btn

    // This handles displaying the form
    btn.addEventListener('click', () => {
        form.style.display = 'block';
    })
    
    // This handles canceling the form
    btn_danger.addEventListener('click', () => {
        form.style.display = 'none';
    })
</script>