<div class="layout">
    <% include ./Navigation %>
    <div class="wrap">
        <div class="journal-header">
            <% if (user.Metabolic_Type) { %>
                <h1 class='journal-title'>Your Metabolic Type: <span class='highlight'><%= user.Metabolic_Type %></span></h1>
            <% } else { %> 
                <h1>Find out your Metabolic Type by creating an entry.</h1>
            <% } %>
        </div>
        <form action="/journal" 
              class="form"
              method='POST'>
            <div class="form-field">
                <input type="text" class="form-field-input" placeholder="RMR" name='RMR'>
            </div>
            <div class="form-field">
                <input type="text" class="form-field-input" placeholder="HDL" name='HDL'>
            </div>
            <div class="form-field">
                <input type="text" class="form-field-input" placeholder="LDL" name='LDL'>
            </div>
            <div class="form-field">
                <input type="text" class="form-field-input" placeholder="TC" name='TC'>
            </div>
            <div class="form-field">
                <input type="text" class="form-field-input" placeholder="Ratio" name='ratio'>
            </div>
            <div class="form-field">
                <input type="text" class="form-field-input" placeholder="Triglycerides" name='trigs'>
            </div>
            <div class="form-field">
                <input type="text" class="form-field-input" placeholder="Body Fat Percentage" name='bfp'>
            </div>
            <div class="form-field">
                <input type="text" class="form-field-input" placeholder="Weight" name='weight'>
            </div>
            <div class="form-field">
                <input type="text" class="form-field-input" placeholder="Hemoglobin" name='hemoglobin'>
            </div>
            <div class="form-field">
                <input type="text" class="form-field-input" placeholder="Blood Glucose" name='blood_glucose'>
            </div>
            <button type='submit' class='btn'>Submit</button>
        </form>
    </div>
</div>