<div class='layout'>
    <div class="login-wrap">
        <div class="login-header">
            <% include ./Logo %>
            <h1 class='login-title anim1'>Rezvani Health</h1>
        </div>
        <% include ./partials/messages %>
        <form action="/login" class="login-form" method='POST'>
            <input class='login-input anim2' type='text' placeholder='Username' name='username'>
            <input class='login-input anim3' type='password' placeholder='Password' name='password'>
            <button class='login-btn anim4' type='submit'>Login</button>
        </form>
        <div class="form-text-bottom anim5">
            <a href='/register'>New member?</a>
            <a href='#'>Forgot password?</a>
        </div>
    </div>
</div>