<h4>Manually set RMR/Caloric Level</h4>
<form method='POST' action='/rmrcalculator/manual'>
    <input type='text' placeholder='RMR' name='rmr'>
    <input type='text' placeholder='Caloric Level (1-11)' name='caloric_level'>
    <input type='submit' value='Submit'>
</form>