<nav class='nav-wrap'>
    <div class="nav-links">
        <a href='/dashboard' class='link'><i class="fas fa-chart-area link-icon"></i><span class='link-text'>Dashboard</span></a>
        <a href='/profile' class='link'><i class="fas fa-cogs link-icon"></i><span class='link-text'>Profile</span></a>
        <a href='/journal' class='link'><i class="fas fa-book link-icon"></i><span class='link-text'>Journal</span></a>
        <a href='/groups' class='link'><i class="fas fa-users link-icon"></i><span class='link-text'>Groups</span></a>
        <a href='/logout' class='link'><i class="fas fa-sign-out-alt link-icon"></i></i><span class='link-text'>Logout</span></a>
    </div>
</nav>