<nav class='nav-wrap'>
    <div class="nav-head">
        <img class='nav-img' src="/img/banner.jpeg" alt="profile">
        <p class='nav-status'><%= user.status %></p>
    </div>
    <div class="nav-links">
        <a href='/' class='link' style='color: #4ecca3 !important'><i class='fa fa-home link-icon'></i><span class='link-text'>Home</span></a>
        <a href='/dashboard' class='link'><i class="fas fa-chart-area link-icon"></i><span class='link-text'>Dashboard</span></a>
        <a href='/profile' class='link'><i class="fas fa-cogs link-icon"></i><span class='link-text'>Profile</span></a>
        <a href='/journal' class='link'><i class="fas fa-book link-icon"></i><span class='link-text'>Journal</span></a>
    </div>
</nav>