<h1>Test View</h1>
<style>
    body {
        /* background-color: rgba(4, 241, 245, 0.8);
        background-color: rgba(4, 161, 164, 0.8); */
        /* background-color: rgba(1, 77, 78, 0.8) */
        background-color: #30303d;
    }
    #chartdiv {
        height: 500px;
    }
</style>
<div id="chartdiv"></div>
<script>

    am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    // Create chart instance
    var chart = am4core.create("chartdiv", am4charts.XYChart);

    function addMinutes(date, minutes) {
        return new Date(date.getTime() + minutes*60000);
    }

    // Add data
    chart.data = generatechartData();

    function generatechartData() {

        var hypnogram = '443432222211222333321112222222222111133333322221112233333333332232222334';
        var hr = [0, 53, 51, 0, 50, 50, 49, 49, 50, 50, 51, 52, 52, 51, 53, 58, 60, 60, 59, 58, 58, 58, 58, 55, 55, 55, 55, 56, 56, 55, 53, 53, 53, 53, 53, 53, 57, 58, 60, 60, 59, 57, 59, 58, 56, 56, 56, 56, 55, 55, 56, 56, 57, 58, 55, 56, 57, 60, 58, 58, 59, 57, 54, 54, 53, 52, 52, 55, 53, 54, 56, 0];
        var start = new Date('2017-11-06T02:13:19+02:00');
        var end = new Date('2017-11-06T08:12:19+02:00');
        
        var chartData = [];
        var sleepType, newTime;
        for ( var i = 0; i < hypnogram.length; i++ ) {
            
            newTime = addMinutes(start, (start.getMinutes() + (i*5)))

            sleepType = parseInt(hypnogram[i]);
            // if(hypnogram[i] == '1'){
            //     sleepType = 'Deep';
            // } else if (hypnogram[i] == '2'){
            //     sleepType = 'Light';
            // } else if (hypnogram[i] == '3'){
            //     sleepType = 'REM';
            // } else if (hypnogram[i] == '4'){
            //     sleepType = 'Awake';
            // }
            
            chartData.push( {
                time: newTime,
                sleepType: sleepType
            } );
        }
        console.log(chartData);
        return chartData;
    }

    // Create axes
    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    console.log(dateAxis.renderer);

    // Create value axis
    var categoryAxis = chart.yAxes.push(new am4charts.ValueAxis());
    categoryAxis.renderer.labels.template.fontFamily = 'Quicksand';
    categoryAxis.renderer.labels.template.properties.location = 1;
    categoryAxis.min = 1;
    categoryAxis.max = 4;
    categoryAxis.renderer.minGridDistance = 100;

    // Create series
    var series = chart.series.push(new am4charts.StepLineSeries());
    series.dataFields.valueY = "sleepType";
    series.dataFields.dateX = "time";
    series.strokeWidth = 30;
    series.tooltipText = "{valueY.value}";
    series.fillOpacity = .1;

    // Create a range to change stroke for values below 0
    var range = categoryAxis.createSeriesRange(series);
    range.value = 0.5;
    range.endValue = 1.5;
    range.contents.stroke = 'white';
    range.contents.fill = range.contents.stroke;
    range.contents.strokeOpacity = 1;
    range.contents.fillOpacity = 0;

    // Create a range to change stroke for values below 0
    var range = categoryAxis.createSeriesRange(series);
    range.value = 1.5;
    range.endValue = 2.5;
    range.contents.stroke = 'aqua';
    range.contents.fill = range.contents.stroke;
    range.contents.strokeOpacity = 1;
    range.contents.fillOpacity = 0;

    // Create a range to change stroke for values below 0
    var range = categoryAxis.createSeriesRange(series);
    range.value = 2.5;
    range.endValue = 3.5;
    range.contents.stroke = '#00ADB3';
    range.contents.fill = range.contents.stroke;
    range.contents.strokeOpacity = 1;
    range.contents.fillOpacity = 0;

    // Create a range to change stroke for values below 0
    var range = categoryAxis.createSeriesRange(series);
    range.value = 3.5;
    range.endValue = 4.5;
    range.contents.stroke = 'rgba(1, 77, 78, 1)';
    range.contents.fill = range.contents.stroke;
    range.contents.strokeOpacity = 1;
    range.contents.fillOpacity = 0;

    // Add cursor
    chart.cursor = new am4charts.XYCursor();
    chart.cursor.xAxis = dateAxis;

    }); // end am4core.ready()
</script>
