<form method='POST' action='/writeentry' class='center'>
    <fieldset>
        <legend>Create Data Entry</legend>
        <div class="form-group">
            <label for="get_username">Entry for:</label>
            <input type="text" name='username' class="form-control" id="get_username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="RMR" name='RMR'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="HDL" name='HDL'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="LDL" name='LDL'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="TC" name='TC'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Ratio" name='ratio'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Triglycerides" name='trigs'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Body Fat Percentage" name='bfp'>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Weight" name='weight'>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>