
/* General */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
}

:focus {
    outline: none;
}

/*
    COLOR PALLATE
    dark background: #232931
    border color: #393e46
    very dark background: rgba(0, 0, 0, 0.2)
    very light: #eeeeee
    hightlight: #4ecca3
*/

/* End General */

/* Layout */

.layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #232931;
}

.wrap {
    padding: 50px 60px 0px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 90vh;
}

.highlight {
    color: #4ecca3;
}

@media screen and (min-width: 560px) {
    .layout {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .wrap {
        height: 100%;
    }
}

/* End Layout */

/* Partials */

.alert {
    width: 80%;
    padding: .5rem 1rem;
    color: #eee;
    margin: 10px auto;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
}

.alert-success {
    background-color: rgba(0, 255, 0, 0.406);
    border: 1px solid rgba(23, 254, 2, 0.968)
}

.alert-danger {
    background-color: rgba(255, 0, 0, 0.29);
    border: 1px solid rgba(255, 0, 0, 0.838);
}

.alert-btn {
    -webkit-appearance: none;
    background-color: transparent;
    color: #eee;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    border: none;
    font-size: .85rem;
    cursor: pointer;
    height: auto;
}

.alert-btn:hover {
    color: rgba(255, 0, 0, 0.838);
}

/* End Partials */

/* Navbar */

.nav-head, .link-text {
    display: none;
}

.nav-wrap {
    width: 100%;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid #393e46;
}

.nav-links {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.link {
    color: #eeeeee;
}

.nav-head {
    height: 200px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.nav-img {
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}

.nav-status {
    width: 85%;
    font-size: .9rem;
    color: #eeeeee;
    text-align: center;
    margin: 0 auto;
}

.link-icon {
    width: 25px;
}

@media screen and (min-width: 560px) {
    .nav-img, .nav-status {
        display: block;
    }

    .nav-wrap {
        min-width: 250px;
        width: 250px;
        height: 100vh;
        border-top: none;
        border-right: 1px solid #393e46;
        overflow-y: scroll;
        min-height: 450px;
    }

    .nav-head {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav-links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border-top: none;
        width: 250px;
        height: 100%;
    }

    .link-text, .link-icon {
        display: inline-block;
    }

    /* .link {
        margin: 1rem 0 2rem 1.5rem;
    } */

    .link-text {
        margin-left: 10px;
    }
}

/* End Navbar */

/* Login */

/* Animations */
.anim0,
.anim1,
.anim2,
.anim3,
.anim4,
.anim5,
.anim6,
.anim7,
.anim8,
.anim9 {
    opacity: 0;
}

.anim0 {
    -webkit-animation: 1.5s ease 0s 1 slideIn forwards;
            animation: 1.5s ease 0s 1 slideIn forwards;
}
.anim1 {
    -webkit-animation: 1.5s ease .25s 1 slideIn forwards;
            animation: 1.5s ease .25s 1 slideIn forwards;
}
.anim2 {
    -webkit-animation: 1.5s ease .5s 1 slideIn forwards;
            animation: 1.5s ease .5s 1 slideIn forwards;
}
.anim3 {
    -webkit-animation: 1.5s ease .75s 1 slideIn forwards;
            animation: 1.5s ease .75s 1 slideIn forwards;
}
.anim4 {
    -webkit-animation: 1.5s ease 1s 1 slideIn forwards;
            animation: 1.5s ease 1s 1 slideIn forwards;
}
.anim5 {
    -webkit-animation: 1.5s ease 1.25s 1 slideIn forwards;
            animation: 1.5s ease 1.25s 1 slideIn forwards;
}
.anim6 {
    -webkit-animation: 1.5s ease 1.5s 1 slideIn forwards;
            animation: 1.5s ease 1.5s 1 slideIn forwards;
}
.anim7 {
    -webkit-animation: 1.5s ease 1.75s 1 slideIn forwards;
            animation: 1.5s ease 1.75s 1 slideIn forwards;
}
.anim8 {
    -webkit-animation: 1.5s ease 2s 1 slideIn forwards;
            animation: 1.5s ease 2s 1 slideIn forwards;
}
.anim9 {
    -webkit-animation: 1.5s ease 2.25s 1 slideIn forwards;
            animation: 1.5s ease 2.25s 1 slideIn forwards;
}
/* End Animations */

.login-wrap {
    height: 100vh;
    width: 100%;
    max-width: 560px;
}

.logo-icon {
    width: 75px;
    height: auto;
}

.logo-svg {
    fill: #eee;
}

.login-header {
    width: 100%;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 15px;
}

.login-title {
    font-family: 'PT Sans';
    color: #4ecca3;
    letter-spacing: 1px;
}

.login-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: auto;
    width: 80%;
    margin: 15px auto;
}

.login-input {
    border: none;
    color: rgb(130, 130, 130);
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.15rem;
    margin: 10px 0;
}

.login-btn {
    -webkit-appearance: none;
    margin-top: 10px;
    width: 100%;
    color: #eee;
    background-color: #4ecca3;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-family: 'PT Sans';
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #45b48f;
}

.form-text-bottom {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.form-text-bottom a {
    color: #eee;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.form-text-bottom a:hover {
    color: #4ecca3;
}

@media screen and (min-width: 560px) {
    .login-wrap {
        width: 50%;
        margin: auto;
    }
}

@-webkit-keyframes slideIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(15px);
                transform: translateY(15px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(15px);
                transform: translateY(15px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, -40%);
                transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, -40%);
                transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}

/* End Login */

/* Profile */

.profile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.profile-img {
    width: 50px;
    border-radius: 50%;
    margin-left: 40px;
}

.profile-name {
    color: #eee;
    font-family: 'PT Sans';
    font-size: 2rem;
    letter-spacing: 1px;
}

@media screen and (max-width: 560px) {
    .form-field-input,
    .form-text-field-input {
        min-width: 1px;
        width: 100%;
    }
    .wrap {
        width: 100%;
        padding: 1.5rem;
    }
}

/* End Profile */

/* Forms */

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
    width: 100%;
}

.form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 13px 0px;
}

.form-field-input,
.form-text-field-input {
    width: 100%;
    overflow: hidden;
    border: 1px solid #393e46;
    padding: 1rem 1.5rem;
    font-size: .8rem;
    border-radius: 5px;
    background-color: #1f2125;
    color: #eee;
    max-width: 645px;
}

.form-field-small {
    padding-left: 1.5rem;
    color: #4ecca3;
    margin: 5px 0px;
}

.form-text-field-input {
    resize: none;
    height: 100px;
}

.radio-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.label {
    display: inline-block;
    color: rgb(130, 130, 130);
    margin-left: 1rem;
}

.btn {
    -webkit-appearance: none;
    display: inline-block;
    padding: 1rem 1.75rem;
    border: none;
    background-color: #3ea180;
    font-size: .9rem;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 13px;
    border-radius: 5px;
    color: #ffffff;
    max-width: 225px;
}

.btn-danger {
    -webkit-appearance: none;
    display: inline-block;
    padding: 1rem 1.75rem;
    border: none;
    background-color: #c44848;
    font-size: .9rem;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 13px;
    border-radius: 5px;
    color: #ffffff;
    max-width: 225px;
}

.btn-danger:hover {
    background-color: #853131;
}

.btn:hover {
    background-color: #368d70;
}

/* End Forms */

/* Journal */

.journal-title {
    color: #fff;
    font-family: 'PT Sans';
}

/* End Journal */

/* Card */

.card {
    width: 225px;
    border: 1px solid #4ecca3;
    background-color: #1f2125;
    border-radius: 15px;
    margin: 15px 0;
}

.card-header {
    color: #fff;
    font-family: 'PT Sans';
    font-size: 1.2rem;
    padding: 25px;
}

.card-body {
    padding: 25px;
}

.card-text {
    color: #fff;
}

/* End Card */

/* Dashboard */

.dashboard-header {
    padding: .8rem;
    color: #fff;
    font-family: 'PT Sans';
}

.oura-link {
    text-decoration: none;
    display: inline-block;
    color: #ccc;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    padding: 10px;
}

.oura-link:hover {
    color: #4ecca3;
}

/* End Dashboard */

/* Group */

.create-new-group-wrap {
    position: fixed;
    z-index: 999999999;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 365px;
    top: 50%;
    left: 50%;
    padding: 4rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    border: 1px solid #333;
    opacity: 0;
    display: none;
    -webkit-animation: fadeUp .8s ease forwards;
            animation: fadeUp .8s ease forwards;
}

.groups-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

.group-card {
    width: 100%;
    display: block;
    min-height: 60px;
    margin-top: 25px;
    border: 1px solid #393e46;
    padding: 1.5rem;
    border-radius: 15px;
    height: auto;
}

.group-card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.group-name {
    color: #fff;
    font-family: 'PT Sans';
    font-size: 1.1rem;
}

.group-card-member-text {
    color: #fff;
}

/* End Group */