@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.text-center {
    text-align: center
}

.text-muted {
    color: rgb(113, 113, 113);
}

.img-size {
    width: 90px;
}

.container {
    margin-top: 60px;
}

.open-sans {
    font-family: 'Open Sans';
}